
@media  (max-width:768px){
    #telalog{ 
       left: 53%;
    }

  
    
} 

@media  (max-width:768px){
    .bloco1{ 
       right: 50%;
    }

  
    
} 

@media  (max-width:768px){
    .bloco2{ 
       right: 50%;
    }

  
    
} 


@media  (max-width:768px){
    .bloco1{ 
       right: 50%;
    }

  
    
} 
 

@media  (max-width:768px){
    .acesso{ 
        position: fixed;
       left: 70%;
       top: 73%;
    }

  
    
} 


@media  (max-width:768px){
    a{ 
        position: fixed;
       left: 65%;
       top: 80%;
    }

  
    
} 




@media  (max-width:1024px){
    #restaulogo{ 

        width: 60%;
        
    }
}

@media  (max-width:1024px){
    #nov{ 
        
        width: 50%;
    }
}

@media  (max-width:1024px){
    #telalog{ 
        position: relative;
        right: 14%;
        bottom: 5%;

        
    }
}

@media  (max-width:1440px){
    #restaulogo{ 

        width: 60%;
        
    }
}

@media  (max-width:1440px){
    #nov{ 
        
        width: 45%;
        
    }
}


@media  (max-width:1440px){
    #telalog{ 
       
        position: relative;
        bottom: 30%;
       
        

        
    }
}
